
    <ul class="nav">
        
            

            
                
            

            <li class="nav-item">
                <a class="nav-link" href=disp?s=countries>страны</a>
            </li>
        
            

            

            <li class="nav-item">
                <a class="nav-link" href=#>навигатор</a>
            </li>
        
            

            

            <li class="nav-item">
                <a class="nav-link" href=#>подбор тура</a>
            </li>
        
            

            

            <li class="nav-item">
                <a class="nav-link" href=#>авиабилеты</a>
            </li>
        
            

            

            <li class="nav-item">
                <a class="nav-link" href=#>спецпредложения</a>
            </li>
        
            

            
                
            

            <li class="nav-item">
                <a class="nav-link" href=disp?s=option>гарантированные номера</a>
            </li>
        
    </ul>
